aside {
	position: absolute;
	width: 16em;
	right: 0;
	font-family: 'Helvetica Neue', 'Arial', 'sans serif';
	color: #999;
	display: none;

	@media (min-width: 50em) {
		display: block;
	}
}

.aside-inner {
	position: absolute;
	width: 100%;
	bottom: 1.5em;

	p {
		font-size: 0.8em;
		padding: 0;
	}

	p:last-child {
		margin: 0;
	}

	code {
		background-color: #f9f9f9;
		border: none;
		font-size: 1em;
		color: #666;
	}
}