@import "base";

$plain: #444;
$keyword: $blue;
//$var: #444;
$var: rgb(80,80,180);
$punctuation: #888;
$string: $green;
$type: $blue;
$comment: #aaa;
//$attrName: rgb(50,150,50);
$attrName: rgb(80,80,180);
$tag: $blue;
$attrValue: $string;
$literal: rgb(150,0,0);


pre {
	white-space: pre;
	font-family: 'Source Code Pro', monospace;
	font-size: 14px;
	background-color: $light-green;
	display: block;
	padding: 0.5em;
	overflow-x: auto;
	margin: 0 0 1em 0;

	&:before {
		@include block-header;
	}

	&.lang-html:before {
		content: 'html';
	}

	&.lang-js:before {
		content: 'javascript';
	}

	&.lang-css:before {
		content: 'css';
	}
}

code {
	font-family: 'Source Code Pro', monospace;
	border: 1px solid #eee;
	border-radius: 0.2em;
	background-color: $light-green;
	color: #444;
	font-weight: normal;
	font-size: 0.8em;
	padding: 0.15em 0.3em;
	position: relative;
	//bottom: 0.1em;
}

pre code {
	border: none;
	border-radius: 0;
	background-color: none;
	color: inherit;
	font-weight: inherit;
	font-size: inherit;
	padding: 0;
}


.prettyprinted {
	color: #444;
}

.prettyprint {
	.pln { color: $plain; }
	.pun { color: $punctuation; }
	.str { color: $string; }
	.kwd { color: $keyword; }
	.typ { color: $blue; }
	.tag { color: $tag; }
	.atn { color: $attrName }
	.atv { color: $attrValue }
	.lit { color: $literal }
	.com { color: $comment }

	&.lang-js {
		.pun { color: #444; }
	}
}