$light-green: rgb(249,252,246);
$green: #729d34;
$blue: rgb(0,0,100);

$plain: #444;
$keyword: $blue;
//$var: #444;
$var: rgb(80,80,180);
$punctuation: #888;
$string: $green;
$type: $blue;
$comment: #aaa;
//$attrName: rgb(50,150,50);
$attrName: rgb(80,80,180);
$tag: $blue;
$attrValue: $string;
$literal: rgb(150,0,0);

.language-js, .language-html, .language-css {
	background-color: transparent;
}

pre {
	.keyword { color: $keyword; }
	.string { color: $string; }
	.comment { color: $comment; }
	.number { color: $literal; }
}
