@import "mixins";
@import "dimensions";

main {
	padding-top: 2em;
	min-height: $leftNavHeight; // cheap hack to enable column layout
}

.content {
	padding: 0 0 0 $leftNavWidth;

	h2 {
		font-size: 2em;
	}

	ul {
		margin: 0 0 2em 0;
	}
}
