.code-example {

	margin-left: 1em;

	label {
		font-weight: 500;
		font-size: 0.9em;
	}

	label, input {
		cursor: pointer;
		display: block;
	}

	input[type=checkbox] {
		opacity: 0;
	}

	input[type=checkbox] + span {
		position: relative;
		left: 4.2em;
		top: -2.45em;
	}


	input[type=checkbox] + span:after {
		content: '▶';
		color: rgb(114, 157, 52);
	}

	input[type=checkbox]:checked + span:after {
		content: '▼';
	}

	pre {
		-webkit-transition: all 500ms;
	}

	input:checked + span + pre {
		max-height: 20em;
	}

	input:not(:checked) + span + pre {
		max-height: 0;
		padding: 0 0.5em;
	}
}
