@font-face{
	font-family: 'Voltaire';
	src: url('fonts/Voltaire.eot');
	src: url('fonts/Voltaire.eot?#iefix') format('embedded-opentype'),
	     url('fonts/Voltaire.woff') format('woff'),
	     url('fonts/Voltaire.ttf') format('truetype'),
	     url('fonts/Voltaire.svg#webfont') format('svg');
}

@font-face{
	font-family: 'Poiret One';
	src: url('fonts/PoiretOne.eot');
	src: url('fonts/PoiretOne.eot?#iefix') format('embedded-opentype'),
	     url('fonts/PoiretOne.woff') format('woff'),
	     url('fonts/PoiretOne.ttf') format('truetype'),
	     url('fonts/PoiretOne.svg#webfont') format('svg');
}