@import "mixins";

.main-header {
	margin: 1em 0 2em 0;
	padding: 0 0 0.5em 0;
	border-bottom: 1px solid #eee;

	h1 {
		margin: 0 0 0.2em 0;
		display: block;
	}
}

.edit-link {
	display: none;
	background: $light-green url(assets/edit.png) no-repeat 0.4em 55%;
	padding: 0em 0.5em 0em 1.5em;
	background-size: 1em 1em;
	border-radius: 0.2em;
	color: $green;
	clear: both;
}

@media (min-width: $fullWidth) {
	.edit-link {
		display: inline-block;
	}
}
