@import "mixins";

.left-nav {
	position: absolute;
	width: $leftNavWidth;
	left: 2em;
	top: 0;
	padding: 4em 1em 0 0;
	@include border-box;

	ul, li {
		list-style-type: none;
	}

	ul {
		padding: 0 0 0 1em;
	}
}
