@import "base";

.menu {
	background-color: $light-green;
	padding: 0.2em;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	text-align: center;
	margin: 0 0 2em 0;
	@include clearfix;

	li {
		@media (max-width: 30em) {
			display: block;
			border-bottom: 1px solid #eee;
			padding: 0.2em 0;

			&:last-child {
				border-bottom: none;
			}
		}

		@media (min-width: 30em) {
			display: inline-block;

			&:after {
				content: ' | ';
				color: #888;
			}

			&:last-child:after {
				content: '';
			}
		}
	}
}

.small-menu {
	@extend .menu;

	margin-top: 0;
	border-top: none;

	p {
		margin: 0.5em 0;
	}
}