<main>
	<h2>Make the web interactive by default</h2>


	<p>HTML is an amazing language for creating static documents, but it was never designed for interactive web apps. Many libraries try to get round HTML's limitations, but very few tackle them head on.</p>

	<div class='aside'>
		<p>Ractive is used to create interactive journalism at <a href='http://theguardian.com'>theguardian.com</a>. Its development was made possible, in part, by the <a href='http://www.gatesfoundation.org/'>Bill &amp; Melinda Gates Foundation</a>'s support for <a href='http://www.theguardian.com/global-development'>Guardian Global development</a>.</p>
	</div>

	<p><span class='logo'>Ractive.js</span> is different. It solves some of the biggest headaches in web development &ndash; data binding, efficient DOM updates, event handling &ndash; and does so with almost no learning curve. (Here's the <a href='https://github.com/RactiveJS/Ractive/wiki/60-second-setup'>60 second setup</a>).</p>

	<p>How? By changing the relationship between HTML and JavaScript. Before, HTML was an inert substance that you would breathe life into. Now, it's a blueprint for an app that's <em>interactive by default</em>.</p>



	<h2>Okay. How does it work?</h2>

	<p>By parsing HTML templates and creating a lightweight internal representation of the DOM. Consider the following example:</p>

	<div class='aside'>
		<p>Traditional templating engines and MVC frameworks force you to re-render whenever any part of your data changes. So you have to split components up into atomic chunks &ndash; list items instead of lists, buttons instead of button panels, single data points instead of charts &ndash; often each with its own view class, each with its own <code>render</code> method.</p>

		<p>All too often, templating just means replacing one kind of spaghetti code with another!</p>
	</div>

	<div class='demo'>
<pre class='template block prettyprint lang-html'>
&lt;p&gt;Hello {{user}}! You have
    &lt;strong&gt;{{messages.unread}} new messages&lt;/strong&gt;.
&lt;/p&gt;
</pre>

<pre class='code block prettyprint lang-js'>
var ractive = new Ractive({
  el: result,
  template: html,
  data: {
    user: 'Dave',
    messages: { total: 11, unread: 4 }
  }
});
</pre>

	<div class='output block'></div>

	<div class='aside'>
		<p>Edit this code and hit Shift-Enter to run it, or tap the green button.</p>
	</div>

<div class='console-outer'>
	<div class='console' spellcheck='false' contenteditable>ractive.set( 'messages.unread', 5 );</div>
	<span class='run'>run &raquo;</span>
</div>

	</div>

	<p>In this example, <span class='logo'>Ractive.js</span> constructs a parallel DOM representation which is aware of its dependencies on the values of <code>user</code> and <code>messages.unread</code>. When those values change, it knows exactly which parts of the real DOM need to be updated.</p>

	<p>This kind of surgical DOM manipulation is more efficient than constantly trashing views only to re-render them, and it scales far more elegantly than manually updating elements.</p>


	<h2>So it's like AngularJS?</h2>

	<div class='aside'>
		<p>Other projects which deserve mention: <a href='http://knockoutjs.com/'>Knockout.js</a>, which popularised the idea of declarative data binding in web apps, and which inspired the Ractive tutorials, and <a href='http://backbonejs.org/'>Backbone</a>, which packs so many terrific ideas into such a tiny footprint. Ractive is particularly indebted to these.</p>
	</div>

	<p>There are similarities &ndash; <a href='http://angularjs.org/'>AngularJS</a> has been a large source of inspiration. If you haven't tried it, you should. It's a wildly popular framework powering some major applications, and it's built and maintained by the geniuses at Google.</p>

	<p>But the two libraries do things very differently. <span class='logo'>Ractive.js</span> is designed to have as few surprises as possible &ndash; no mysterious <code>$scope.$apply()</code> or dependency injection minification headaches! You can master <span class='logo'>Ractive.js</span> in an hour or two, just by following the <a href='http://learn.ractivejs.org'>interactive tutorials</a>.</p>



	<h2>Nice! What else can it do?</h2>

	<p>There are several killer features, such as <strong>expressions with dependency tracking</strong>, <strong>animations</strong>, <strong>two-way binding</strong>, <strong>SVG support</strong> and more. To get a feel for what's possible with <span class='logo'>Ractive.js</span>, <a href='examples'>take a look at the examples</a>.</p>


	<h2>Sold. Where do I start?</h2>

	<p>You can try the <a href='https://github.com/RactiveJS/Ractive/wiki/60-second-setup'>60 second setup</a>, <a href='http://learn.ractivejs.org'>follow the interactive tutorials</a>, or <a href='download'>download the code and dive right in</a>.</p>

	<p>If you get stuck, <a href='http://stackoverflow.com/questions/tagged/ractivejs'>ask a question on Stack Overflow with the ractivejs tag</a>, check out the <a href='https://github.com/RactiveJS/Ractive/wiki/API-reference'>API documentation</a> or get in touch with <a href='http://twitter.com/RactiveJS'>@RactiveJS</a> on Twitter. The code is <a href='https://github.com/RactiveJS/Ractive'>available on GitHub</a> under an MIT license.</p>
</main>
