<nav>
	<div class='nav-inner'>
		<a class='selected' href='http://ractivejs.org'>Ractive.js</a>

		<ul>
			<li><a href='http://docs.ractivejs.org/latest/second-setup'>60 second setup</a></li>
			<li><a href='http://learn.ractivejs.org'>Tutorials</a></li>
			<li><a href='http://examples.ractivejs.org'>Examples</a></li>
			<li><a href='http://docs.ractivejs.org'>Docs</a></li>
			<li><a href='http://ractivejs.org/plugins'>Plugins</a></li>
			<li><a href='http://blog.ractivejs.org'>Blog</a></li>
			<li class='github-small'><a href='https://github.com/ractivejs/ractive'>GitHub</a></li>
		</ul>

		<a class='github-wide' href='https://github.com/ractivejs/ractive'>GitHub</a>

		<button id='nav-toggle'>&#9776;</button>
	</div>
</nav>
