.docs-header {
	h1 {
		font-size: 3.2em;
	}

	nav {
		border-bottom: 1px solid #eee;
		margin: 0 0 1em 0;
		padding: 0 0 0.5em 0;
	}
}

.breadcrumbs {
	border-bottom: 1px solid #eee;
	padding: 0.5em 0;
	margin: 0 0 2em 0;
}

pre {
	white-space: pre-wrap;
}

pre.lang-js, pre.lang-html {
	white-space: pre;
}

main {
	h2 {
		margin: 2em 0 0.5em 0;

		code {
			position: relative;
			bottom: 0.1em;
		}
	}

	h3, h4 {
		font-family: 'Voltaire';
		font-weight: normal;
		margin: 1em 0 0.5em 0;
	}

	blockquote {
		padding: 0 0 0 1em;
		margin: 0;

		p {
			padding: 0;
		}

		h3, h4 {
			position: relative;
			left: -0.8em;
			font-family: 'Source Code Pro', monospace;

			em {
				font-style: normal;
				font-size: 0.8em;
				font-family: 'Baskerville', 'Book Antiqua', 'Georgia';
			}

			code {
				background-color: #f9f9f9;
				position: relative;
				bottom: 0.1em;
			}
		}

		h3 {
			font-size: 1.25em;
		}

		h4 {
			font-weight: normal;
		}

		blockquote {
			border-left: 1px solid #eee;
			padding: 0 0 0 2em;
			margin: 0 0 0 0.2em;
		}
	}
}