h1, h2 {
	font-family: 'Voltaire', sans-serif;
	font-weight: normal;
	margin: 0;
	line-height: 1
}

h1 {
	font-size: 3em;

	@media (min-width: 30em) {
		font-size: 4em;
	}
}

h2 {
	font-size: 1.5em;
	text-align: center;
	border-bottom: 1px solid #eee;
	margin: 3em 0 0.5em 0;
	padding-bottom: 0.2em;
	clear: both;
}

@media (min-width: 50em) {
	main h2 {
		text-align: left;
	}
}

.title {
	text-align: center;
	margin: 0 0 30px 0;
}

.title p {
	font-family: 'Poiret One', 'Arial';
	font-weight: 900;
	margin: 0;
	font-size: 1em;

	@media (min-width: 30em) {
		font-size: 1.2em;
	}

	@media (min-width: 40em) {
		font-size: 1.4em;
	}
}

.title img {
	width: 50%;
	max-width: 200px;
}

.title br {
	@media (min-width: 40em) {
		display: none;
	}
}