@mixin border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin clearfix {
	&:after {
		content: '';
        display: table;
        clear: both;
	}
}

@mixin no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

@mixin block-header {
	display: block;
	border-bottom: 1px solid rgb(240,240,240);
	padding-bottom: 0.5em;
	font-family: 'Voltaire', 'Arial';
	font-weight: bold;
	margin-bottom: 1em;
	color: #444;
}
