<!doctype html>
<html lang='en-GB'>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1'>

	<title > {{page.data.title}} | Docs | Ractive.js </title >

	<%= head %>
</head>

<body class='example'>
</ul>
	<div class="header">
		{{>header}}
	</div>
	<aside class="left-nav">
		{{> left-nav.md}}
	</aside>
	<main class="main-content">
		{{# markdown}}
			{{> body}}
		{{/markdown}}
	</main>
</body>
</html>
