<!doctype html>
<html lang='en-GB'>
<head>
	<meta charset='utf-8'>
	<meta http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1'>

	<link rel='icon' type='image/png' href='../favicon.png'>

    <title > {{title }} | Docs | Ractive.js </title > 

	<!-- CSS -->
	<link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:400,700,900' rel='stylesheet' type='text/css'>
	<link rel='stylesheet' href='assets/min.css'>
</head>

<body class='example'>
	<div class="header">
		{{>header}}
	</div>
	<aside class="left-nav">
		{{> left-nav.md}}
	</aside>
	<main class="main-content">
		{{# markdown}}
			{{> body}}
		{{/markdown}}
	</main>
</body>
</html>