<div class="title">
	<h1>Ractive.js</h1>
	<p>Next-generation DOM manipulation</p>
</div>

<ul class="menu">
	<li><a href="http://ractivejs.org">Home</a></li>
	<li><a href="http://blog.ractivejs.org">Blog</a></li>
	<li><a href="http://learn.ractivejs.org">Tutorials</a></li>
	<li><a href="http://examples.ractivejs.org">Examples</a></li>
	<li><a href="plugins">Plugins</a></li>
	<li>Docs</li>
	<li><a href="download">Download</a></li>
	<li><a href="https://github.com/RactiveJS/Ractive">GitHub</a></li>
</ul>
