<div class="title">
	<h1>Ractive.js</h1>
	<p>Next-generation DOM manipulation</p>
</div>

<ul class="menu">
	<li><a href="https://ractive.js.org">Home</a></li>
	<li><a href="https://github.com/ractivejs/ractive">GitHub</a></li>
</ul>
