---
title: Get started
---


Welcome! These pages aim to provide all the information you need to master Ractive.

If you see something wrong, out of date, or missing from this documentation, please [raise an issue on GitHub](https://github.com/ractivejs/v0.x/issues) or - even better - submit a pull request. Your fellow Ractive users will thank you!

Using Ractive is very simple. An instance is created using `new Ractive({...})`
with the desired options:

```js
var ractive = new Ractive({
  el: 'container',
  template: '<p>\{{greeting}}, \{{recipient}}!</p>',
  data: { greeting: 'Hello', recipient: 'world' }
});
```

While there are no _required_ options, the three shown above - __el__ement, __template__ and __data__ - are the most common. They specify __what data__ to bind to __what template__ and __where__ it should be placed
in the __html document__.

A good way to get up and running is with the [60 second setup](http://ractive.js.org/60-second-setup). After that, working your way through the [interactive tutorials](http://learn.ractive.js.org) will familiarise you with the various ways you can use Ractive.

Checkout the {{{createLink 'Options' 'Configuration Options'}}} to learn more about
all the available options.

If you get stuck at any point, visit the {{{createLink 'Get support'}}} page to find help.
